---
layout: default
title:  Offline First shopping list demos
id:     how-tos
---

<h1>{{ page.title }}</h1>

  {% for how_to in site.how_tos %}
    <div class="section">
      <h5>{{ how_to.title }}</h5>
      <p>{{ how_to.headline }}</p>
      <p>Source code: <a href="{{how_to.repo_url}}">{{how_to.repo_url}}</a> </p>
      {% if how_to.tutorial_url != null %}
       <p>Tutorial: <a href="{{how_to.tutorial_url}}">{{how_to.tutorial_url}}</a> </p>
      {% endif %}
      <p>Author: <a href="{{how_to.author_url}}">{{how_to.author}}</a> </p>
    </div>
    <div class="divider"></div>
  {% endfor %} 
  
